@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #F5F7FA;
  color: #16233D;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #FFEDD5;
}
